/* Universal selector */
*{
   margin: 2%;
}


/* Class selector */
.first {
    color :black;
}

.large {
    font-size: 30px;
}



/* Id selector */
#eklist {
    background-color: brown;
}
body {
    color :cadetblue;
    background-color: darkmagenta;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



/* Atrribute selector */
a[href="upflairs.com"]{
    color: red;
    text-decoration: none;
}


input[type="text"] {
    background-color: blue;
    color: white;
}



/* Pseudo selector */
.first:hover{
    color: white;
}